<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Ideal Theme login form template Flat Responsive Widget Template :: w3layouts</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Ideal Theme login form widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css'>

<!--Angular App-->
<script src="bower_components/angular/angular.min.js"></script>
<script src="app/app.js"></script>
</head>
<body>
	<!-- main -->
	<div class="main" ng-app="myApp">
		<h1>Ideal Theme Login Form</h1>
		<div class="signin-form" ng-controller="LoginController">
			<form ng-submit="login()">
				<input type="text" placeholder="User Name" ng-model="UserName" required="">
				<input type="password" placeholder="Password" ng-model="Password" required="">
				<input type="submit" value="Sign In">
			</form>
			<div class="signin-text">
				<div class="text-left">
					<p><a href="#"> Forgot Password? </a></p>
				</div>
				<div class="text-right">
					<p><a href="#"> Create New Account</a></p>
				</div>
				<div class="clear"> </div>
			</div>
			<h5>- OR -</h5>
			<div class="social-icons">
				<ul>
					<li><a href="#"></a></li>
					<li><a href="#" class="fb"></a></li>
					<li><a href="#" class="be"></a></li>
					<li><a href="#" class="gg"></a></li>
				</ul>	
			</div>
		</div>
	</div>
	<!-- //main -->
	<div class="copyright">
		<p> &copy; 2015 Ideal Theme login form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>
	</div>
</body>
</html>